RewriteEngine On

RewriteRule ^api(?:/.*)?$ server/public/index.php [L,QSA]
RewriteRule ^assets/vite.svg$ client/dist/assets/vite.svg [L,QSA]
RewriteRule ^assets/(.*)$ client/dist/assets/$1 [L,QSA]

RewriteRule ^$ client/dist/index.html [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ client/dist/index.html [L]