.x-window {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 1px solid var(--mantine-color-default-border);
	width: 386px;
	height: 386px;
	display: grid;
	flex-direction: column;
	grid-template-columns: auto;
	grid-template-rows:
		minmax(min-content, auto) minmax(auto, 1fr)
		minmax(min-content, auto);
}

.x-window-header {
	padding: 0.25rem 0.75rem;
	border-bottom: 1px solid var(--mantine-color-default-border);
}
.x-window-icons {
	position: absolute;
	right: 0;
	top: 0;
}

.x-window-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.x-window-content {
	position: relative;
	overflow: auto;
}

.x-window--resizable {
	resize: both;
	overflow: auto;
}
.x-window--draggable:not(.x-window--fullscreen, .x-window--collapsed) .x-window-header {
	cursor: move;
}

/*.xWindow-res {
	position: absolute;
	z-index: 100;
	display: none;
}
/*
.xWindow-res--n,
.xWindow-res--s {

	//@apply h-2 left-0 right-0 cursor-n-resize;
}
.xWindow-res--e,
.xWindow-res--w {
	//@apply w-2 top-0 bottom-0 cursor-e-resize;
}
.xWindow-res--se,
.xWindow-res--sw,
.xWindow-res--ne,
.xWindow-res--nw {
	//@apply w-2 h-2;
	z-index: 110;
}
.xWindow-res--nw {
	//@apply cursor-nw-resize;
}
.xWindow-res--ne {
	//@apply cursor-ne-resize;
}
.xWindow-res--se {
	//@apply cursor-se-resize;
}
.xWindow-res--sw {
	//@apply cursor-sw-resize;
}
.xWindow-res--n,
.xWindow-res--nw,
.xWindow-res--ne {
	//@apply -top-1;
}
.xWindow-res--e,
.xWindow-res--ne,
.xWindow-res--se {
	//@apply -right-1;
}
.xWindow-res--s,
.xWindow-res--se,
.xWindow-res--sw {
	//@apply -bottom-1;
}
.xWindow-res--w,
.xWindow-res--nw,
.xWindow-res--sw {
	//@apply -left-1;
}

.xWindow--resizable > .xWindow-res {
	//@apply block;
}*/

.xWindow--fullscreen {
	/*@apply top-0 left-0 w-full h-full;*/
}
/*
.xWindow {
	--x-window-line-offset: 6rem;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75), 0 0 0 1px rgba(255, 255, 255, 0.07) inset;*/
/*&:before {
		content: ' ';
		@apply block h-0 absolute top-0 border-9 border-b-0 border-transparent border-t-separator;
		left: var(--x-window-line-offset);
		right: var(--x-window-line-offset);
	}
	&:after {
		content: ' ';
		@apply block h-0 absolute top-0 border-8 border-b-0 border-transparent border-t-info/50;
		left: calc(var(--x-window-line-offset) + 1px);
		right: calc(var(--x-window-line-offset) + 1px);
	}
}
.xWindow--active {
	&:after {
		@apply border-t-red-500;
	}
}

.xWindow--collapse {
	@apply hidden;
}
*/
